/* /Pages/GridComponent.razor.rz.scp.css */
.layout[b-vnbydwokr1] {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}
.message[b-vnbydwokr1] {
    height: 100px;
}
.grid[b-vnbydwokr1] {
    height: 700px;
}
.column[b-vnbydwokr1] {
    width: 14%;
    float: left;
}
/* /Pages/SpaceComponent.razor.rz.scp.css */
.space[b-8eet30nyfb] {
    width: 150px;
    height: 100px;
    background-color: blue;
    border: 1px white solid;
    padding: 15px 40px;
}
.piece-orange[b-8eet30nyfb] {
    background-color:orange;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.piece-green[b-8eet30nyfb] {
    background-color: green;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-miyvaafbi8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-miyvaafbi8] {
    flex: 1;
}

.sidebar[b-miyvaafbi8] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-miyvaafbi8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-miyvaafbi8]  a, .top-row .btn-link[b-miyvaafbi8] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-miyvaafbi8] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-miyvaafbi8] {
        display: none;
    }

    .top-row.auth[b-miyvaafbi8] {
        justify-content: space-between;
    }

    .top-row a[b-miyvaafbi8], .top-row .btn-link[b-miyvaafbi8] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-miyvaafbi8] {
        flex-direction: row;
    }

    .sidebar[b-miyvaafbi8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-miyvaafbi8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-miyvaafbi8] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
