.layout[b-vnbydwokr1] {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}
.message[b-vnbydwokr1] {
    height: 100px;
}
.grid[b-vnbydwokr1] {
    height: 700px;
}
.column[b-vnbydwokr1] {
    width: 14%;
    float: left;
}